<md-bottom-sheet class="md-list md-has-header" ng-cloak>
  <md-subheader>Topology debug</md-subheader>
  <md-list>
    <md-list-item>
      <md-button
          ng-click="select('isis-traffic')"
          class="md-list-item-content" >
        <md-icon md-svg-icon="menu"></md-icon>
        <span class="md-inline-list-icon-label">ISIS traffic</span>
      </md-button>
      <md-button
          ng-click="select('recreate-from-isis-traffic')"
          class="md-list-item-content" >
        <md-icon md-svg-icon="menu"></md-icon>
        <span class="md-inline-list-icon-label">Recreate from ISIS traffic</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
