<div>  
  <md-list-item
    layout="row"
    ng-repeat-start="p in packets track by p._id"
    ng-click="p.expand = !p.expand">
    <span flex>{{
      p.parsed.lsp ? 'LSP' :
      (p.parsed.isisHello ? 'HELLO' :
      (p.parsed.l2csn ? 'L2 CSN' : 'other'))
    }}</span>
    <span>{{p.receptionDate|date:'yyyyMMddHHmmss-sss'}}</span>

  </md-list-item>
  <p ng-repeat-end ng-if="p.expand">
    <textarea style="border: 0; resize: none; width: 300px" disabled rows="20">{{p.parsed|json:2}}</textarea>
  </p>
</div>
