<div>
  <md-content layout-padding>
    <md-input-container class="md-block">
      <label>ID</label>
      <input ng-model="info.data.id" disabled />
    </md-input-container>
    <md-input-container class="md-block">
      <label>IP Address:</label>
      <input ng-model="info.data.label" disabled />
    </md-input-container>
  </md-content>
</div>
