<md-dialog aria-label="Add a kick-start router">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add a kick-start router</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <div class="md-dialog-content" layout layout-align="start">
      <md-input-container>
        <label>Name</label>
        <input required type="text" ng-model="router.name" />
      </md-input-container>
      <md-input-container>
        <label>Address</label>
        <input required type="text" ng-model="router.address" />
      </md-input-container>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button ng-click="confirm()" class="md-primary">
      Add
    </md-button>
  </md-dialog-actions>
</md-dialog>
