<div class="page">
  <div layout layout-algin="start start">
    <div layout layout-align="center center" flex>
      <div flex="20" layout layout-align="center center">
        <span class="md-body-4">Network name</span>
      </div>
      <md-input-container layout layout-align="center center" flex>
        <input disabled style="font-size: 1.6em" required type="text" ng-model="network.name" />
      </md-input-container>
    </div>
  </div>
  <div layout layout-algin="start start">
    <div layout layout-align="center center" flex>
      <div flex="20" layout layout-align="center center">
        <span class="md-body-4">Client token</span>
      </div>
      <md-input-container layout layout-align="center center" flex>
        <input disabled style="font-size: 1.6em" required type="text" ng-model="clientToken" />
      </md-input-container>
      <md-button style="float: right" ng-click="regenerateClientToken()" class="md-fab md-primary" aria-label="Regenerate">
        <md-icon md-svg-icon="autorenew"></md-icon>
      </md-button>
    </div>
  </div>
  <div layout layout-algin="start start">
    <div layout layout-align="center center" flex>
      <div flex="20" layout layout-align="center center">
        <span class="md-body-4">Layout update spacing</span>
      </div>
      <md-slider flex
                 md-discrete
                 min="1" max="10" step="0.2"
                 ng-model="spacing"
                 aria-label="Layout update spacing"
                 id="layout-update-spacing-slider">
      </md-slider>

      <md-switch ng-change="monitoringChanged()" ng-model="monitoring" aria-label="Monitoring" style="margin-left: 1em">
        Monitoring
      </md-switch>
    </div>
  </div>
  <md-button style="float: right" ng-click="addKickstartRouter()" class="md-fab md-primary" aria-label="Add">
    <md-icon md-svg-icon="add"></md-icon>
  </md-button>
  <h4>Kick-start routers</h4>
  <md-list>
    <md-list-item class="secondary-button-padding" ng-repeat="r in kickstartRouters">

      <md-button ng-click="removeKickstartRouter(r.name)" class="md-warn md-raised">Delete</md-button>
      {{r.name}} (<strong>{{r.address}}</strong>)
    </md-list-item>
  <md-subheader class="md-no-sticky" ng-if="!kickstartRouters.length">No routers configured</md-subheader>
  <md-divider></md-divider>
  <h4>Router authentication</h4>
  <div layout>

    <md-input-container>
      <label>Username</label>
      <input required type="text" ng-model="routerAuthentication.username" />
    </md-input-container>

    <md-input-container class="md-block" flex>
      <label>RSA private key</label>
      <textarea style="overflow-y: scroll" rows="5" required ng-model="routerAuthentication.privateKey"></textarea>
    </md-input-container>
  </div>
  <div layout="row" layout-align="end none">
    <md-button disabled ng-click="delete()" class="md-warn">Delete network</md-button>
    <md-button ng-click="updateRouterAuthentication()" class="md-raised md-primary">Update authentication</md-button>
  </div>
</div>
