<div class="page">
  <div ng-controller="SettingsNetworksController">
    <h4>Networks</h4>
    <md-list>
      <md-list-item ng-repeat="n in networks" ng-click="selectNetwork(n)">
        {{n.name}}
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <h4>Add network</h4>
    <div layout layout-align="end stretch">
      <md-input-container flex>
        <label>Name</label>
        <input ng-model="newNetwork.name" required />
      </md-input-container>
      <md-button ng-click="addNetwork()" class="md-fab md-primary" aria-label="Add">
        <md-icon md-svg-icon="add"></md-icon>
      </md-button>
    </div>
  </div>
</div>
