<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><md-icon md-svg-icon="lock"></md-icon> <span>Enter your credentials</span></h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Username</label>
          <input required ng-model="credentials.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" required ng-model="credentials.password">
        </md-input-container>
        <md-toolbar class="md-warn" ng-if="error">
          <div class="md-toolbar-tools">
            <h2 class="md-flex"><md-icon md-svg-icon="error"></md-icon> {{error}}</h2>
          </div>
        </md-toolbar>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-accent" md ng-click="confirm()" style="margin-right:20px;">
        Login
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
