<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;">
  <head>
    <title>TEME - Neutrona Networks</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='./assets/fonts/roboto/normal/stylesheet.css' />
    <link rel='stylesheet' href='./assets/fonts/roboto/italic/stylesheet.css' />
    <link rel='stylesheet' href='./assets/fonts/roboto/medium/stylesheet.css' />
    <link rel='stylesheet' href='./assets/fonts/roboto/bold/stylesheet.css' />
    <link rel="stylesheet" href="./vendor/angular-material.css"/>
    <link rel="stylesheet" href="./assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body style="width:100%;height:100%;" ng-app="neutrona.teme" layout="row" ng-cloak ng-controller="BodyController">

  <md-sidenav class="site-sidenav md-sidenav-right md-whiteframe-z2"
      md-component-id="right">
    <ui-view name="right-sidenav"></ui-view>
  </md-sidenav>
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="ul.toggleList()" aria-label="Show menu"
      md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>TEME</h3>
    </md-toolbar>

    <ng-include ng-controller="AppLeftSidebarController" src="'./src/view/app-left-sidebar.html'"></ng-include>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-toolbar-tools">
      <md-button id="main" class="menu" hide-gt-sm ng-click="toggleSidenav()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <ui-view flex name="top-toolbar"></ui-view>
      <span>{{user}} <md-icon md-svg-icon="account_circle"></md-icon></span>
    </md-toolbar>

    <md-content flex id="content">
      <ui-view></ui-view>
    </md-content>
  </div>

    <script src="./vendor/jquery.js"></script>
    <script src="./vendor/async.js"></script>
    <script src="./assets/detect-element-resize.js"></script>
    <script src="./vendor/angular.js"></script>
    <script src="./vendor/angular-messages.js"></script>
    <script src="./vendor/angular-animate.js"></script>
    <script src="./vendor/angular-aria.js"></script>
    <script src="./vendor/angular-ui-router.js"></script>
    <script src="./vendor/angular-material.js"></script>
    <script src="./vendor/cytoscape.js"></script>
    <script src="./vendor/ngCytoscape.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./vendor/angular-socket-io.js"></script>

    <script src="/fold-api-description.js"></script>
    <script src="./src/app.js"></script>
    <script src="./src/topology/api.js"></script>
    <script src="./src/topology/directive.js"></script>
    <script src="./src/topology/page.js"></script>
    <script src="./src/settings/api.js"></script>
    <script src="./src/settings/page.js"></script>


  </body>
</html>
